<nav>
	<div>
		<a routerLink="">Home</a>
	</div>
	<div>
		<a routerLink="/pokedex">See Pokedex</a>
	</div>
</nav>

<div class="evolution-of">
	<label for="pokemon">Evolution of: </label>
	<select id="pokemon" class="form-control" (change)="onPokemonSelect($event)">
		<option value="">--Select--</option>
		<option *ngFor="let pokemon of pokemons" [value]="pokemon.pokedexNumber">
			{{ pokemon.name }} Nº {{ pokemon.pokedexNumber }}
		</option>
	</select>
</div>

<div class="form-card">
	<h2>New Evolution</h2>
	<form [formGroup]="newEvolutionForm">
		<div class="form-group">
			<label for="pokedexNumber">Pokedex Number</label>
			<input type="number" id="pokedexNumber" formControlName="pokedexNumber">
		</div>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" id="name" formControlName="name">
		</div>
		<div class="form-group">
			<label for="description">Pokedex description</label>
			<textarea type="text" formControlName="description" rows="4"></textarea>
		</div>
		<div class="form-group">
			<label for="imageUrl">Image url</label>
			<input type="text" id="imageUrl" formControlName="imageUrl">
		</div>
		<div class="action-buttons">
			<button type="button" (click)="onSubmitForm()">Add a new custom Evolution</button>
		</div>
	</form>
</div>

<div class="add-from-api">
	<input type="text" [(ngModel)]="searchTerm" placeholder="Add Pokemon by name" />
	<button (click)="searchEvolution()">Search</button>
</div>