.landing-block {
	margin: 8% auto;
	text-align: center;
	
	nav {
		text-align: center;
		box-sizing: border-box;
		width:20%;
		margin:8% auto;
		padding: 10px 30px;
		box-shadow: lightgray 4px 4px 20px;
		border-radius: 20px;
		background-color: rgb(39, 39, 39);

		a {
			text-decoration: none;
			color: whitesmoke;
			font-size: 120%;
		}
	}

	nav:hover {
		background-color: darkgray;
	}

}
