<div class="pokemon-container">
	<div class="pokemon-card" *ngFor="let pokemon of pokemons">
		<h1 *ngIf="!isEditing[pokemon.pokedexNumber]" (click)="editPokemon(pokemon.pokedexNumber)">
			 {{ pokemon.name }} 
		</h1>
		<input *ngIf="isEditing[pokemon.pokedexNumber]" [(ngModel)]="pokemon.name" type="text">

		<img src="{{ pokemon.imageUrl }}" alt="{{pokemon.name}}">
		<p *ngIf="!isEditing[pokemon.pokedexNumber]" (click)="editPokemon(pokemon.pokedexNumber)">
			Pokedex description: {{pokemon.description}}
		</p>
		<input *ngIf="isEditing[pokemon.pokedexNumber]" [(ngModel)]="pokemon.description" type="textarea">
		
		<div class="update-buttons">
			<button *ngIf="isEditing[pokemon.pokedexNumber]" (click)="updatePokemon(pokemon)">Save</button>
			<button *ngIf="isEditing[pokemon.pokedexNumber]" (click)="cancelEdit(pokemon.pokedexNumber)">Cancel</button>
		</div>

		<div class="delete-button">
			<button (click)="removePokemon(pokemon.pokedexNumber)">Delete</button> 
			<button (click)="editPokemon(pokemon.pokedexNumber)">Update</button> 
		</div>
	</div>
</div>